################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Lens
/x64/Debug
/Lens/x64/Debug
/Lens/ChronoEngine.log
/Lens/Debug
/Lens/Release
/Lens/x64/Release

# claude code
CLAUDE.md
/.claude
cc*.md
*.log

/Lens/src/imgui/*.cpp
